<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Scale Settings-->
    <!-- X-Axis-->
    <add key="Xmin" value="18" />
    <add key="Xmax" value="20" />
    <!-- Y1-Axis-->
    <add key="Y1min" value="0" />
    <add key="Y1max" value="4096" />
    <!-- Y2-Axis-->
    <add key="Y2min" value="0" />
    <add key="Y2max" value="1000" />
    <!-- Track Settings-->
    <!-- Settings for S1 -->
    <add key="S1Enable" value="true" />
    <add key="S1Name" value="Ist" />
    <add key="S1Color" value="Red" />
    <add key="S1Y2" value="false" />
    <!-- Settings for S2 -->
    <add key="S2Enable" value="true" />
    <add key="S2Name" value="oben" />
    <add key="S2Color" value="Blue" />
    <add key="S2Y2" value="false" />
    <!-- Settings for S3 -->
    <add key="S3Enable" value="true" />
    <add key="S3Name" value="unten" />
    <add key="S3Color" value="Green" />
    <add key="S3Y2" value="false" />
    <!-- Settings for S4 -->
    <add key="S4Enable" value="true" />
    <add key="S4Name" value="Stellwert" />
    <add key="S4Color" value="Pink" />
    <add key="S4Y2" value="false" />
    <!-- Settings for S5 -->
    <add key="S5Enable" value="false" />
    <add key="S5Name" value="S5" />
    <add key="S5Color" value="Yellow" />
    <add key="S5Y2" value="false" />
    <!-- Settings for S6 -->
    <add key="S6Enable" value="false" />
    <add key="S6Name" value="S6" />
    <add key="S6Color" value="Yellow" />
    <add key="S6Y2" value="false" />
    <!-- Settings for S7 -->
    <add key="S7Enable" value="false" />
    <add key="S7Name" value="S7" />
    <add key="S7Color" value="Black" />
    <add key="S7Y2" value="false" />
    <!-- Settings for S8 -->
    <add key="S8Enable" value="false" />
    <add key="S8Name" value="S8" />
    <add key="S8Color" value="" />
    <add key="S8Y2" value="false" />
    <!-- Settings for S9 -->
    <add key="S9Enable" value="false" />
    <add key="S9Name" value="S9" />
    <add key="S9Color" value="" />
    <add key="S9Y2" value="false" />
    <!-- Settings for S10 -->
    <add key="S10Enable" value="false" />
    <add key="S10Name" value="Trigger" />
    <add key="S10Color" value="Green" />
    <add key="S10Y2" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>